
.login{
    flex: 4;
}

.login-wrapper{
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

/* 
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
} */